.divider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 0.5rem;
  width: 100%;
}

.divider span:nth-child(1) {
  background-color: var(--color-primary);
}
.divider span:nth-child(2) {
  background-color: var(--color-secondary);
}
.divider span:nth-child(3) {
  background-color: var(--color-tertiary);
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  text-align: center;
}

.logo {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 800;
}

.list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.copy {
  color: var(--color-neutral-500);
  font-size: 0.9rem;
  font-weight: 400;
}

.dataItem {
  font-size: .9rem;
  font-weight: 400;
}

.dataItem span {
  color: var(--color-neutral-500);
}